{{#each this}}
<li class="item-card">
    <div style="background-image: url('https://xtremexmartialarts.com/wp-content/uploads/2020/07/anim-circ-preloader.gif')"
        class="photo-card">
        <img src="{{webformatURL}}" alt="{{tags}}" data-lightbox-img="{{largeImageURL}}" />

        <div class="stats">
            <p class="stats-item">
                <span class="material-icons">thumb_up</span>
                {{likes}}
            </p>
            <p class="stats-item">
                <span class="material-icons">visibility</span>
                {{views}}
            </p>
            <p class="stats-item">
                <span class="material-icons">comment</span>
                {{comments}}
            </p>
            <p class="stats-item">
                <span class="material-icons">cloud_download</span>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}